.Chromebook {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

body {
    background-color: blue;
}

.container {
    color: black;
    display: flex;
    gap: 3em;
    font-size: large;
}

a:link {
    color: black;
}